<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>
  <body>
    <div class="container">
        
    <h1>Add an User</h1>
    <hr>
    <form action="/add " method="POST">
     
        {% csrf_token %}


      <form class="row g-3">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">id</label>
            <input type="text" placeholder="id" class="form-control" id="validationDefault01" name="id" value={{id}} required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">user</label>
            <input type="text" class="form-control"placeholder="user" id="validationDefault02" name="User" value={{User}}required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">name</label>
            <input type="text" class="form-control" placeholder="name" id="validationDefault02" name="name" value={{name}}required>
        </div><br>
        

       
        </div>

    
        {% csrf_token %}
        <label for="Category" class="form-label">Category</label>
        <br>

        <select class="form-control" name="Category" id="Category">
          
          <option >select Category</option>

          {% for single item in all_Category %}
          <option value="{{user.id}}">{{Category.name}}</option>
          {% endfor %}
          
        </select>

       
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    
  </body>
</html>